@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Giriş Yap";
}

<div class="container mt-5" style="max-width:420px;">
    <h3 class="mb-4 text-center">IKYS Giriş</h3>
    @if (ViewBag.Error != null)
    {
        <div class="alert alert-danger">@ViewBag.Error</div>
    }

    <form asp-controller="Account" asp-action="Login" method="post">
        <div class="mb-3">
            <label>Kullanıcı Adı</label>
            <input name="username" class="form-control" />
        </div>
        <div class="mb-3">
            <label>Şifre</label>
            <input name="password" type="password" class="form-control" />
        </div>
        <button class="btn btn-primary w-100">Giriş Yap</button>
    </form>
</div>
