@model IK.MVCUI.Areas.Employee.Models.PageVms.ChangePasswordPageVm
@{
	ViewData["Title"] = "ChangePassword";
	Layout = "~/Views/Shared/_AreaLayout.cshtml";
}

<h2>Şifreni Değiştir</h2>

@if (TempData["PasswordError"] is string pwdError)
{
	<div class="alert alert-danger">
		@Html.Raw(pwdError)
	</div>
}

@if (TempData["Success"] is string success)
{
	<div class="alert alert-success">
		@success
	</div>
}

<form asp-controller="Profile" asp-action="ChangePassword" method="post">
	<div class="mb-3">
		<label>Eski Şifreniz</label>
		<input name="OldPassword" type="password" class="form-control" />
	</div>
	<div class="mb-3">
		<label>Yeni Şifre</label>
		<input name="NewPassword" type="password" class="form-control" />
	</div>
	<div class="mb-3">
		<label>Yeni Şifre Tekrar</label>
		<input name="ConfirmNewPassword" type="password" class="form-control" />
	</div>
	<button class="btn btn-primary w-100" type="submit">Şifreyi Kaydet</button>
</form>

