@model List<IK.ENTITIES.Models.Branch>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AreaLayout.cshtml";
}

<h2 class="mb-3">Şube Listesi</h2>

<a asp-area="Admin" asp-controller="Branch" asp-action="Create" class="btn btn-primary mb-3">
	Yeni Şube Ekle
</a>

<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Şube Adı</th>
			<th>Bulunduğu Şehir</th>
			
		</tr>
	</thead>
	<tbody>
		@foreach (IK.ENTITIES.Models.Branch brn in Model)
		{
			<tr>
				<td>@brn.BranchName</td>
				<td>@brn.City</td>
				<td>
					<a asp-area="Admin" asp-controller="Branch" asp-action="Update" asp-route-id="@brn.Id"
					   class="btn btn-warning btn-sm">Güncelle</a>

					<a asp-area="Admin" asp-controller="Branch" asp-action="Pacify" asp-route-id="@brn.Id"
					   class="btn btn-danger btn-sm">Pasife Çek</a>
				</td>

			</tr>
		}
	</tbody>
</table>

