@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Admin Giriş";
}

<div class="container mt-5" style="max-width:400px;">
    <h3 class="text-center mb-4">Admin Girişi</h3>

    @if (ViewBag.Error != null)
    {
        <div class="alert alert-danger">@ViewBag.Error</div>
    }

    <form asp-area="Admin" asp-controller="Account" asp-action="Login" method="post">
        <div class="mb-3">
            <label>Kullanıcı Adı</label>
            <input type="text" name="username" class="form-control" required />
        </div>
        <div class="mb-3">
            <label>Şifre</label>
            <input type="password" name="password" class="form-control" required />
        </div>
        <button class="btn btn-dark w-100">Giriş Yap</button>
    </form>
</div>
